#QUESTION 1 : DISCUSS STRING SLICING AND PROVIDE WITH EXAMPLES?
ANSWER: STRING SLICING IN PYTHON IS  A POWERFUL FEATURE THAT ALLOWS TO EXTRACT A PORTION OF A STRING BY SPECIFYING A START INDEX, AN END INDEX, AND AN OPTIONAL STEP. THE SYNTAX FOR SLICING IS: STRING[start:end:step].
EXAMPLES ARE

1.SIMPLE  SLICING: THIS SLICES THE STRING FROM INDEX 0 TO 4 ( UOTO BUT NOT INCLUDING 5).

In [ ]:
text = "Hello, World"
slice1 = text[0:5]
print (slice1)

Hello

2.OMITTING START: IT IS AN INDEX ASSUMES THE START OF THE STRING.
            STOP: IT IS AN INDEX ASSUMES THE END OF THE STRING.

In [ ]:
slice2 = text[:5]
print(slice2)

Hello

In [ ]:
slice3= text[7:]
print(slice3)

World

3.USING NEGATIVE INDICES: PYTHON ALLOES NEGATIVE INDEXING , WHERE -1 REFERS TO THE LAST CHARACTER , -2 TO THE SECOND LAST, AND SO ON.

In [ ]:
slice4=text[-6:-1]
print(slice4)

 Worl

4.USING STEP: THE STEP PARAMETER  CONTROLS THE STRIDE BETWEEN CHARACTERS.THIOS SLICES EVERY SECOND CHARACTER FROM THE ORIGINAL STRING.

In [ ]:
slice5=text[::2]
print(slice5)

Hlo ol

5.REVERSING A STRING: BY USING A NEGATIVE STEP, WE CAN REVERSE A STRING.

In [ ]:
reversed_text=text[::-1]
print(reversed_text)

dlroW ,olleH

#QUESTION 2: EXPLAIN THE KEY FEATURES OF LISTS IN PYTHON?
ANSWER: LISTS IN PYTHON ARE A VERSATILE AND COMMONLY USED DATA STRUCTURE. THEY ARE ORDERED,MUTABLE AND CAN STORE A COLLECTION OF ITEMS OF ANY DATA TYPE. HERE ARE SOME KEY FEATURES OF PYTHON LIST,
1. ORDERED COLLECTION: LISTS MAINTAIN THE ORDER OF ELEMENTS AS THEY WERE ADDED.THIS MEANS THAT WHEN WE ITERATE OVER A LIST OR ACCESS ITS ELEMENTS, THEY WILL APPEAR IN THE ORDER IN WHICH THEY WERE ADDED. EXAMPLE

In [ ]:
fruits=["apple","banana","cherry"]
print (fruits)

['apple', 'banana', 'cherry']

2.MUTABLE: LISTS ARE MUTABLE , MEANING THAT THEIR CONTENTS CAN BE CHANGED AFTER THEY ARE CREATED.WE CAN ADD, REMOVE OR MODIFY ELEMENTS IN A LIST. EXAMPLE

In [ ]:
fruits[1] = "orange"
print(fruits)

['apple', 'orange', 'cherry']

3.HETEROGENEOUS ELEMENTS: A SINGLE LIST CAN CONTAIN ELEMENTS OF DIFFERENT DATA TYPES, INCLUDING INTEGERS, STRINGS, FLOATS, OR EVEN OTHER LISTS (NESTED LISTS).
EXAMPLE

In [ ]:
mixed_list = [1,"apple", 3.14, [2,4,6]]
print(mixed_list)

[1, 'apple', 3.14, [2, 4, 6]]

4.DYNAMIC SIZE: LISTS CAN GROW AND SHRINK IN SIZE AS ELEMENTS ARE ADDED OR REMOVED. WE DONT NEED TO DECLARE THE SIZE OF A LIST WHEN WE CREATE IT. EXAMPLA

In [ ]:
numbers= [1,2,3]
numbers.append(4)
print (numbers)

[1, 2, 3, 4]

5.INDEXING AND SLICING: LISTS SUPPORT INDEXING (BOTH POSITIVE AND NEGATIVE) TO ACCESS INDIVDUAL ELEMENTS. SLICING ALLOWS TO CREATE SUBLISTS. EXAMPLE

In [ ]:
letters= ["a", "b", "c", "d", "e"]
print(letters[2])

c

In [ ]:
print(letters[-1])

e

In [ ]:
print(letters[1:4])

['b', 'c', 'd']

6.METHODS FOR LIST MANIPULATION; LISTS COME WITH A VARIETY OF BUILT-IN METHODS THAT MAKE MANUPILATION EASY.
. APPEND(ITEM)- ADDS AN ITEM TO THE END OF THE LIST.
. INSERT(INDEX,ITEM)- INSERTS AN ITEM AT A SPECIFIC POSITION.
. REMOVE(ITEM)- REMOVES THE FIRST OCCURENCE OF AN ITEM
. POP(INDEX)- REMOVES AND RETURNS THE ITEM AT THE GIVEN INDEX.
. SORT()- SORTS THE LIST IN PLACE.
.REVERSE()-REVERSE THE ORDER OF THE LIST IN PLACE.
. EXTEND( ITERABLE)- EXTENDS THE LIST BY APPENDING ELEMENTS FROM AN ITERABLE.
EXAMPLE

In [ ]:
numbers=[3,1,4,1,5]
numbers.sort()
print (numbers)

[1, 1, 3, 4, 5]

7.ITERABILITY: LISTS CAN BE EASILY ITERATED OVER USING LOOPS LIKE FOR AND WHILE.
EXAMPLE

In [ ]:
for fruit in ["apple","banana", "cherry"]:
     print(fruit)

apple
banana
cherry

8.COMPREHENSIONS: LIST COMPREHENSIONS PROVIDE A CONCISE WAY TO CREATE LISTS BY APPLYING AN EXPRESSION TO EACH ELEMENT IN AN ITERABLE.
EXAMPLE

In [ ]:
squares= [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

9. MEMBERSHIP TESTING: WE CAN CHECK WHETHER AN ITEM EXISTS IN A LIST USING THE IN KEYWORD.
EXAMPLE

In [ ]:
if "apple " in fruits:
     print("Apple is in the list.")

10. COPYING LISTS: ASSIGNING A LIST TO ANOTHER VARIABLE CREATES A REFERENCE , NOT A COPY.
IN ORDER TO MAKE A COPY , WE CAN USE SLICING OR THE COPY()METHOD.

In [ ]:
original= [1,2,3]
copy = original[:]
 or use
 copy= original.copy()

# QUESTION 3: DESCRIBE HOW TO ACESS, MODIFY AND DELETE ELEMENT IN A LIST WITH EXAMPLES?
ANSWER": IN PYTHON , LISTS ARE A VERSATILE DATA STRUCTURE THAT ALLOWS TO STORE AND MANIPULATE A SEQUENCE OF ELEMENTS. WE CAN ACCESS, MODIFY AND DELETE ELEMENTS IN A LIST.
1.ACCESSING ELEMENTSIN A LIST: WE CAN ACCESS ELEMENTS IN A LIST USING THEIR INDEX. PYTHON LISTS ARE ZERO-INDEXED , THE FIRST ELEMENT IS AT INDEX 0.

In [ ]:
fruits = ["apple", "banana", "cherry","date"]
print(fruits[0])

apple

In [ ]:
print(fruits[2])

cherry

In [ ]:
print(fruits[-1])

date

2. MODIFYNG ELEMENTS IN A LIST: WE CAN MODIFY THE ELEMENTS IN A LIST BY ACCESSING THEM VIA THEIR INDEX AND ASSIGNING A NEW VALUE.
EXAMPLE

In [ ]:
fruits=["apple", "banana", "cherry", "date",]
#change the second element
fruits[1]="blurberry"
print(fruits)

['apple', 'blurberry', 'cherry', 'date']

3.DELETING ELEMENTS FROM A LIST IN SEVERAL WAYS: WE CAN DELETEELEMENTS FROM A LIST IN SEVERAL WAYS:
USING DEL KEYWORS: IT REMOVES THE ELEMENT AT A SPECIFIC INDEX
USING POP(): IT REMOVES AND RETURNS THE ELEMENT AT A SPECIFIC INDEX. IF NO INDEX IS SPECIFIED, IT REMOVES THE LAST ELEMENT.
USING REMOVE(): IT REMOVES THE FIRST OCCURRENCE OF A SPECIFIC VALUE.
EXAMPLE

In [ ]:
fruits=["apple","banana", "cherry", "date"]
#delete the third element using 'del'
del fruits[2]
print(fruits)

['apple', 'banana', 'date']

In [ ]:
#delete the last element using 'pop'()
popped_element=fruits.pop()
print(fruits)

['apple', 'banana']

In [ ]:
print(popped_element)

date

In [ ]:
#delete the first occurence of "banana" using 'remove'()
fruits.remove('banana')
print(fruits)

['apple']

#QUESTION 4: COMPARE AND CONTRAST TUPLES AND LISTS WITH EXAMPLES?
ANSWER: TUPLES AND LISTS ARE BOTH DATA STRUCTURES IN PYTHON THAT CAN STORE A COLLECTION OF ITEMS. SOME KEY DIFFERENCES IN TERMS OF MUTABILITY,SYNTAX, AND USE CASES. BELOW IS A COMPARISON BETWEEN THE TWO
1.MUTABILITY
LISTS: LISTS ARE MUTABLE, MEANING WE CAN CHANGE , ADD OR REMOVE ELEMENTS AFTER THE LIST HAS BEEN CREATED.
TUPLE: TUPLE ARE IMMUTABLE , ONCE TUPLE IS CREATED , WE CANNOT CHANGE ITS ELEMENTS , ADD NEW ELEMENTS, OR REMOVE ELEMENTS.

In [ ]:
#list(mutable)
my_list=[1,2,3]
my_list[0]=10
my_list.append(4)
print(my_list)

[10, 2, 3, 4]

In [ ]:
#tuple(immutable)
my_tuple=(1,2,3)
my_tuple[0]=10

TypeError: 'tuple' object does not support item assignment

2.SYNTAX.
LIST:  LISTS ARE DEFINED USING SQUARE BRACKETS[]
TUPLE: TUPLES ARE DEFINED USING PARENTHESES()
EXAMPLE

In [ ]:
#list
my_list=[1,2,3,4]
#tuple
my_tuple=(1,2,3,4)

3.PERFORMANCE;
LIST: LISTS ARE SLOWER THAN TUPLES BECAUSE OF THEIR MUTABLE NATURE, WHICH ALLOWS OPERATIONS LIKE APPENDING, EXTENDING AND REMOVING ELEMENTS.
TUPLE: TUPLES ARE GENERALLY FASTER THAN LISTS BECAUSE THEY ARE IMMUTABLE AND HAVE A SMALLER MEMORY FOORPRINT.
EXAMPLES: PERFORMANCE BECOMES A SIGNIFICANT IN LARGE SCALE APPLICATIONS, WHERE WE MIGHT CHOOSE A TUPLE OVER A LIST FOR BETTER EFFICIENCY.

4.USE CASES:
LIST; USE LISTS WHEN WE NEED A COLLECTION OF ITEMS THAT MAY NEED TO BE MODIFIED, SORTED OR EXTENDED DURING THE PROGRAM EXECUTION.
TUPLE; USE TUPLES WHEN WE HAVE A FIXED COLLECTION OF ITEMS THAT SHOULD NOT BE CHANGED, SUCH AS COORDINATES, FIXED SETTINGS, OR WHEN WE WANT TO ENSURE THE DATA INTEGRITY.
EXAMPLE;

In [ ]:
#list use case
shopping_list=["milk","bread","eggs"]
shopping_list.append("butter")
print(shopping_list)

['milk', 'bread', 'eggs', 'butter']

In [ ]:
#tuple use case
coordinates=(40.7128,-74.0060)
#latitude and longitude of new york city
#coordinates[0]=40.730610
this will raise a type error

In [ ]:
5. METHODS AVAILBLE
LISTS: LISTS HAVE MORE BUILT-IN METHODS LIKE APPEND(),REMOVE(), POP(),SORT(),REVERSE(),Exception
TUPLE: TUPLES HAVE FEWER METHODS, MAINLY COUNT() AND INDEX().
EXAMPLES

In [ ]:
#list methods
my_list=[1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
my_list.sort(reverse=True)
#sorting the list in decending order
print(my_list)

[4, 3, 2, 1]

In [ ]:
#tuple methods
my_tuple=(1,2,3,3)
print(my_tuple.count(3))

2

In [ ]:
print(my_tuple.index(2))

1

6.PACKING AND UNPACKING:
LIST: BOTH LISTS AND TUPLES SUPPORT PACKING (GROUPING MULTIPLE ITEMS INTO A LIST OR TUPLE) AND UNPACKING (ASSIGNING THE ELEMENYS OF A LIST OR TUPLE TO MULTIPLE VARIABLES)
TUPLE: UNPACKING IS OFTEN USED WITH TUPLES FOR FIXED SIZE COLLECTIONS.
example

In [ ]:
#packing and unpacking a list
my_list=[1,2,3]
a,b,c= my_list
print(a,b,c)

1 2 3

In [ ]:
#packing and unpacking a tuple
my_tuple=(4,5,6)
x,y,z=my_tuple
print(x,y,z)

4 5 6

#QUESTION 5: DESCRIBE THE KEY FEATURES OF SETS AND PROVIDE EXAMPLES OF THEIR USE?
ANSWER: SETS ARE A BUILT-IN DATA TYPE THAT ALLOWS TO STORE COLLECTIONS OF UNIQUE ELEMENTS.SETS ARE MUTABLE MEANS WE CAN MODIFY THEM AFTER CREATION BUT THEIR ELEMENTS MUST BE IMMUTABLE.
EXAMPLES set={1,2,3}

In [ ]:
#1 sets gives unorderd unique elements
set={1,2,9,4,1,1}
set

{1, 2, 4, 9}

In [ ]:
#2 cannot acess index
set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
#3 they are unchangeable
set.add(100)
set

{1, 2, 4, 9, 100}

In [ ]:
set.remove(2)
set

{1, 4, 9, 100}

In [ ]:
len(set)

4

In [ ]:
#operators used in set are union
s1={1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [ ]:
#intersection
s1&s2

{3}

In [ ]:
#difference
s1-s2

{1, 2}

In [ ]:
#symetric
s1^s2

{1, 2, 4, 5}

#QUESTION 6: DISCUSS THE USE CASES OF TUPLES AND SETS IN PYTHON PROGRAMMING?
ANSWER: TUPLES ARE ORDERED COLLECTION OF ELEMENTS USED TO STORE MULTIPLE , DUPLICATE ELEMENTS IN A SINGLE VARIABLE.THEY ARE HETEROGENEOUS AND IMMUTABLE SO THEY ARE USED TO STORE DATA WHICH CANNOT BE CHANGED EVER. EG. ACCOUNT NOO.,ADHAAR NO.,ATM NO.

In [ ]:
#CREATING A TUPLE
t=(1,2,2,"monjo", True,None)
t

(1, 2, 2, 'monjo', True, None)

In [ ]:
#to see the type
type(t)

tuple

In [ ]:
#tuples are accessed by index
t=(1,2,3,5)
t

(1, 2, 3, 5)

In [ ]:
t[0]

1

In [ ]:
t[-1]

5

In [ ]:
#if wanted to change the value in
t[0]=5

TypeError: 'tuple' object does not support item assignment

In [ ]:
#count values of element
t.count(2)

1

In [ ]:
t.index(3)

2

In [ ]:
len(t)

4

In [ ]:
t=(1,4,6,7)
sorted(t)

[1, 4, 6, 7]

In [ ]:
#see if element is present
1 in t

True

In [ ]:
#nesting of tuple
t=((1,2,3),(4,5,6))
t

((1, 2, 3), (4, 5, 6))

SET IS UNORDERED COLLECTION OF UNIQUE ELEMENTS NO DUPLICATES, DNT HAVE INDEX CANNOT ACCESS.THEY ARE MUTABLE AND UNCHANGEABLE. SETS ARE USED IN INDUSTRY LIKE TO KNOW UNIQUE ELEMENTS IN TWO FEAMES.
df1=5,8,6,2 df2=6,2,8,5

In [ ]:
#creating set
s={1,1,1,2,3}
s

{1, 2, 3}

In [ ]:
#cannot access index
s[0]

TypeError: 'set' object is not subscriptable

In [ ]:
#cant change once created
s[2]=100

TypeError: 'set' object does not support item assignment

In [ ]:
#but we can add and remove
s.add(100)
s

{1, 2, 3, 100}

In [ ]:
s.remove(100)
s

{1, 2, 3}

In [ ]:
s.clear()
s

set()

In [ ]:
#different operations also performed
s1={1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [ ]:
#intersection: common element
s1&s2

{3}

In [ ]:
s1-s2

{1, 2}

#QUESTION 7: DESCRIBE HOW TO ADD, MODIFY AND DELETE ITEMS IN A DICTIONARY WITH EXAMPLES?
ANSWER: A DICTIONARY IN PYTHON IS A COLLECTION OF KEY-VALUE PAIRS.HERE'S HOW WE CAN ADD, MODIFY AND DELETE ITEMS.
1.ADD ITEMS TO A DICTIONARY: TO ADD AN ITEM , WE SIMPLY ASSIGN A VALUE TO A KEY. IF THE KEY DOESN'T ALREADY EXIST , IT IS ADDED TO THE DICTIONARY.

In [ ]:
#creating an empty dictionary
my_dict={}
#adding items
my_dict["name"]= "Alice"
my_dict["age"]=25
my_dict["city"]="New york"
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New york'}

2.MODIFY ITEMS IN A DICTIONARY: TO MODIFY AN ITEM, WE REFER TO ITS KEY AND ASSIGN A NEW VALUE

In [ ]:
# Modifying an existing item
my_dict["age"]=30
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New york'}

3.DELETE ITEMS FROM A DICTIONARY
WE CAN DELETE ITEMS USING VARIOUS METHODS.
USING DEL: REMOVES THE KEY AND ITS ASSOCIATEDVALUE.
#DELETING AN ITEM USING 'DEL'

In [ ]:
del my_dict["city"]
print(my_dict)

{'name': 'Alice', 'age': 30}

USING POP(): REMOVES THE ITEM AND RETURNS ITS VALUE.
#deleting an  item using 'pop'()

In [ ]:
age=my_dict.pop("age")
print(age)

30

In [ ]:
print(my_dict)

{'name': 'Alice'}

USING CLEAR(): REMOVES ALL ITEMS FROM THE DICTIONARY.
#DELETING ALL ITEMS USING 'CLEAR'()

In [ ]:
my_dict.clear()
print(my_dict)

{}

In [ ]:
del d
d

NameError: name 'd' is not defined

# QUESTION 8: DISCUSS THE IMPORTANCE OF DICTIONARY KEYS BEING IMMUTABLE AND PROVIDE EXAMPLES?
ANSWER: IN PYTHON ,DICTIONARY KEYS MUST BE IMMUTABLE BECAUSE THE UNDERLYING DATA STRUCTURE RELIES ON THE HASH VALUE OF THE KEY TO QUICKLY ACCESS VALUES. IT IS A COLLECTION OF ORDERED ELEMENTS,CHANGEABLE, NO DUPLICATE ALLOWED DATA IS STORED IN KEY VALUE PAIR BUT KEYS ARE IMMUTABLE.EXAMPLES of immutable and mutable

In [ ]:
my_dict={"name":"ajay", "age":30}
print(my_dict["name"])

ajay

In [ ]:
my_dict={[1,2,3]:"Numbers"}

TypeError: unhashable type: 'list'

CORRECT USE OF AN IMMUTABLE KEY

In [ ]:
my_dict={(1,2,3):"Numbers"}
print(my_dict[(1,2,3)])

Numbers